@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SpaceG', sans-serif;
    src: url('../font/SpaceGrotesk-VariableFont_wght.ttf');
  }

body {
    font-family: 'SpaceG', sans-serif;
    text-align: center;
}